--extra-index-url https://gitlab.com/api/v4/projects/49121232/packages/pypi/simple
webai_element_sdk==0.10.4

langchain-text-splitters==0.3.8
langchain-community==0.3.27
nltk>=3.7
sentence-transformers>=2.2.2
torch>=2.0.0